@font-face {
	font-family: doom;
	src: url(../fonts/DooM.ttf);
}

body {
	background: url("../images/20248.jpg") no-repeat center center fixed;
	font-family: doom;
	color: #fe2;
}

h5 {
	color: red;
}

img {
	max-height: 164.78px;
}

 #sub{
	color: #fe2;
}

.thumbnail {
  	border: 5px solid #ddd;
  	background: url("http://i.imgur.com/mCJr6.jpg") no-repeat center;
}